body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.title {
  background-color: royalblue;
  text-align: center;
  color: snow;
}

.btn-link {
  background-color: aquamarine;
  color: black;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.btn-see-more {
  background-color: gold;
  color: black;
  border-radius: 5px;
  margin: 10px;
  padding: 15px 30px;
  border: 2px solid black;
}

ol > li {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 40px;
  background-color: deepskyblue;
}

ul > li > a {
  text-decoration: none;
  color: black;
}

/* Flex */
.flex-container {
  height: 400px;
  width: 400px;
  background-color: black;
  color: white;
  border: 3px solid red;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-elements {
  height: 50px;
  width: 100px;
  font-size: x-large;
  background-color: gold;
  color: black;
  border: 3px solid white;
}

.flex-container .flex-elements:nth-child(2n) {
  background-color: red;
}

.box-cotainer {
  height: 150px;
  width: 200px;
  background-color: coral;
  border: 2px solid yellowgreen;
  margin: 10px;
}

.box-cotainer:first-child {
  background-color: blueviolet;
  /* position: absolute;
  z-index: 1;
  left: 10%; */
}

.box-cotainer:nth-child(3) {
  background-color: cadetblue;
  position: fixed;
  top: 50%;
  left: 50%;
}

.div-container {
  height: 400px;
  width: 500px;
  border: 2px solid black;
  margin: 10px;
}

.a,
.b {
  height: 100px;
  width: 200px;
  border: 2px solid black;
  margin: 10px;
}

.a {
  background-image: url(https://camo.githubusercontent.com/2309797487e5e969659a3b545c96151807b04120a9cc2985f632ec94ba00c9f3/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f53576f536b4e36447854737a71494b4571762f67697068792e676966);
  background-size: 70px 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

footer {
  height: 30px;
  background-color: royalblue;
  color: white;
  text-align: center;
}
